<%- include('../partials/header') %>
<table id="list">
    <thead>
        <th>Title</th>
        <th>Opinion</th>
        <th>Rating</th>
        <th></th>
    </thead>
    <tbody>
        <% reviews.forEach(function(r) { %>
            <tr>
                <td><%= r.title %></td>
                <td><%= r.opinion %></td>
                <td><%= r.rating %>⭐️'s</td>
                <td><img id="food-image"src="<%= r.image %>" alt="Food Image"></td>
                <td>
                <% if ( r.author && r.author.equals(user && user._id)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" 
                    class="delete-form" method="POST">
                    <button type="submit">🗑</button>
                </form>
                </td>
            <td>
                    <a href="/reviews/<%= r._id %>/edit">✏️</a>
            </td>
            <% } %>
                <td><a href="/reviews/<%= r._id %>">More</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>