<%- include('../partials/header') %>
<table id="list">
    <thead>
        <th>Title</th>
        <th>Opinion</th>
        <th>Rating</th>
    </thead>
    <tbody>
        <% reviews.forEach(function(r) { %>
            <tr>
                <td><%= r.title %></td>
                <td><%= r.opinion %></td>
                <td><%= r.rating %>⭐️'s</td>
                <td><%= r.image %></td>
                <form action="/reviews/<%= r._id %>?_method=DELETE" 
                    class="delete-form" method="POST">
                    <button type="submit">🗑</button>
                </form>
                <td><a href="/reviews/<%= r._id %>">DETAILS</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>