<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= review.title %></div>
  <div>Review: </div>
  <div><%= review.opinion %></div>
  <div>Rating: </div>
  <div><%= review.rating %></div>
  <div>Check it out:</div>
  <div><a target='_blank' href="<%= review.link %>">HERE</a></div>
</section>

<h2>Comments</h2>
<form id="add-comment-form" method="POST" action="/reviews/<%= review._id %>/comments">
 <label>Comment:</label>
  <textarea name="content"></textarea>
 <label>Rating:</label>
 <select name="cRating">
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
 </select>
 <input type="submit" value="Add Comment">
 </form>

 <% if (review.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Comments</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0; %>
      <% review.comments.forEach(function(c) { %>
        <% total += c.cRating%>
        <tr>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td><%= c.cRating %></td>
        <td>
          <form action="/reviews/<%= review._id %>/<%= c._id %>?_method=DELETE" 
            class="delete-form" method="POST">
            <button type="submit">🗑</button>
        </form>
      </td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
          <td><strong><%= (total / review.comments.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>

<%- include('../partials/footer') %>
